<h2><%= comment.description %></h2>

<p>Id: <%= comment.id %></p>
<p>userId: <%= comment.userId %></p>
<p>publicationId: <%= comment.publicationId %></p>
<p>createdAt: <%= comment.createdAt %></p>


<p><a href="<%= backPath%>">Back</a></p>